*::-webkit-scrollbar-thumb {
    background-color: rgb(90, 90, 90);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
}

*::-webkit-scrollbar {
    width: 16px;
}

/* Firefox fallback */
* {
  	scrollbar-color: rgb(121, 121, 121) transparent;
    scrollbar-width: thin;    
}



