#topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	max-height: 50px;
	padding: 0px;
	margin: 0px;
	background-color: #151719;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7), inset 0px 5px 5px rgba(0, 0, 0, 0.7), inset 0px -5px 5px rgba(0, 0, 0, 0.7);
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: 4px double rgb(58, 58, 58);
}	

#topbar > #topbar-content {
	xborder: 1px solid grey;
	width: 100%;
	height: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


#topbar > #topbar-content > #title {
	height: 100%;
	margin: 0px 5px 0px 0px;
	color: rgb(165, 165, 165);
	font-family: Roboto Mono, Consolas, monospace;	
	padding: 5px;
	font-size: 1.1em;

	xcolor: #ffd748;
	xtext-shadow: 
		0 0 1vw #FA1C16, 
		0 0 3vw #FA1C16, 
		0 0 10vw #FA1C16, 
		0 0 10vw #FA1C16, 
		0 0 .4vw #FED128, 
		1px 1px 0px #806914
	;

	display: flex;
	justify-content: center;
	align-items: center;
}	

#topbar > #topbar-content > #title > i {
	margin-right: 10px;
}

#topbar > #topbar-content > #title > span.icon {
	xborder: 1px solid grey;
	font-size: 1.3em;
	margin-right: 10px;
	color: #ffd748;
	text-shadow: 
		0 0 1vw #FA1C16, 
		0 0 3vw #FA1C16, 
		0 0 10vw #FA1C16, 
		0 0 10vw #FA1C16, 
		0 0 .4vw #FED128, 
		1px 1px 0px #806914
	;
	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	xheight: 100%;
	aspect-ratio: 1/1;
	padding-bottom: 3px;
}

#topbar > #topbar-content > #player-count-cont {
	height: 100%;
	color: grey;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto Mono, Consolas, monospace;	
	color: #5c5c5c;
}

#topbar > #topbar-content > #player-count-cont > i {
	margin-right: 5px;
}

#topbar > #topbar-content > #player-count-cont > .player-count {
	margin-right: 10px;
}
